* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height : 97%;
    margin : 0px;
}
div {
    display :inline-block;
}			
.main-header {
    height : 30px;
}
.main-section {
    width : 85%;			
    padding : 10px 20px;	
    height: 100%;
}
#messages-list {
    margin : 1%;
    height : 82%;
    width : 81%;
    overflow-y: scroll;
    border: 1px blue solid;		
    padding: 0.2rem 1rem;		
    float : right;
}
.message-row {
    display: inline-block;
    width :100%;
    margin-bottom: 20px;
}
.message-image {
    width : 10%;	
    float : left;			
}
.message-image img {
    max-width: 60px;
}
.message-meta-text {
    width : 87%;	
    float : right;
    margin-left : 1%;
    padding : 0.2em 0.2em 0.2em 0.2em;					
}				
.message-text {
    width : 100%;	
    float : left;	
}	
.message-time {
    display : inline-block;
    font-size: 0.8rem;	
}				
.message-author {
    display: inline-block;
    vertical-align: top;				
    font-weight: bold;	
    padding : 0.2em 2em 0.2em 0em;
    width : 5rem;	
}		
div.msg-box {
    margin : 1%;
    float : right;
    height : 14%;
    width : 81%;
}

#message {
    width : 90%;
    font-size: 1em;
    float : left;
}

div.side {
    float : left;
    width : 15%;
    height : 98%;
    background-color : #8A2BE2;
    margin : 1%;
    color : yellow;
    font-size : 1em;
}

#link {
    color : yellow;
}

.center {
    text-align : center;
}

#foot {
    font-size : 10px;
    float : right;
    margin-top : 0;
    margin-right : 1%;
  }

@media only screen and (max-width: 768px) {
    body {
        height : 100%;
    }

    div.side {
        display : inline-block;
    }

    .message-meta-text {
        font-size : 0.5em;
    }

    .message-image img {
    max-width: 100%;
    }
    
    div.side {
        font-size : 0.5em;
    }
}